/*
Theme Name: er-leaf Child
Theme URI: http://themeforest.net/user/everislabs
Author: EverisLabs
Author URI: http://everislabs.com
Description: Child ER-Leaf
Template: er-leaf
Version: 2.0
License:
License URI:
Text Domain: er_leaf
Tags:
*/
@import url("../er-leaf/style.css");

.no-margin, footer .credit a{
	color: #ECECEC !important;
}

#nombre,#apellido,#correo, #tel, .input_trabajar{
    float: left;
}
.input_trabajar{
    margin-left: 15px;
}
#nombre,#apellido,#correo, #tel{
    min-width: 125px;
}
table{
    border-bottom: 0px;
}
td{
    border-top: 0px;
}
#apellido, #tel{
    margin-left: 20px;
}
#adjuntar{
    float: left;
}
.page-id-1303 #heading{
    margin-bottom: 0px;
}

@media only screen and (max-width: 1170px) {
    #nombre,#apellido,#correo, #tel, .input, #adjuntar {width: 100%;}
    .input_trabajar, #apellido, #tel{
    margin-left: 0px;
}
}